.auth-error {
  display: flex;
  align-items: center;
  background-color: #ffe6e6; /* Светлый фон ошибки */
  color: #d32f2f; /* Красный цвет текста */
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
}

.error-icon {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
