// Переменные
$footer-bg-color: #343a40;
$footer-padding: 10px 0;

// Стиль для footer
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg-color;
  padding: $footer-padding;
}
